.pl {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pl-title {
  font-size: 50px;
  font-weight: 600;
}
.pl-subtitle {
  width: 60%;
  margin-bottom: 30px;
}
.pl-list {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-load-more {
  margin: 10px;

  // color: black;

  &:visited {
    color: inherit;
  }

  text-decoration: none;
}
