.pl {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pl-title {
  font-size: 50px;
  font-weight: 600;
}
.pl-subtitle {
  width: 60%;
  margin-bottom: 30px;
}
.pl-list {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-load-more {
  margin: 10px;

  // color: black;

  &:visited {
    color: inherit;
  }

  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .loadmore-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;
  }
  .pl-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pl-subtitle {
    display: none;
  }
  .pl-title {
    margin: 5px 0;
  }
  .project-load-more {
    height: 30px;
    overflow: hidden;
    margin: 0;
  }
}
