.contact {
  height: 100vh;
  display: flex;
  position: relative;
}
.green-bg {
  height: 100%;
  position: absolute;
  width: 20px;
  background-color: greenyellow;
}
.contact-wrapper {
  padding: 0 50px 0 100px;
  display: flex;
  justify-content: center;
}
.contact-left {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin-bottom: 30px;

  .contact-title {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .contact-item {
    display: flex;
    margin: 30px 0;
    display: flex;
    align-items: center;
  }
  .contact-icon {
    width: 40px;
    margin-right: 20px;
  }
}
.contact-right {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;

  .contact-bold {
    font-weight: bold;
  }
  .form-title {
    margin-bottom: 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
  .contact-input {
    width: 50%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
  }
  .button-submit {
    width: 100px;
    aspect-ratio: 2/1;
    border: none;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  .ta {
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
}
